.rahmen {
        width: 400px;
        height: 400px;
        border: 1px solid black;
        position:relative;
        
    }
 .redsquare {
    position: absolute;
            width: 20px;
            height: 20px;
            background-color: #c00000;
            top: 0;
            left: 0;

        }

    .steuerung button {
        margin: 5px;
    }